<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.avt_size.size_50), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= t "microposts.posted_ago", time: time_ago_in_words(micropost.created_at) %>
    <% if current_user? micropost.user %>
      <%= link_to t("users.delete"), micropost, data: { "turbo-method": :delete,
      turbo_confirm: t("noti.you_sure") } %>
    <% end %>
  </span>
</li>
